# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/*.log

# Environment
.env

# Test Results
test_sonuclari*/

# OS
.DS_Store
Thumbs.db

#test files
live_test.py
log_detektifi.py
stress_test.py
test_blacklist.py
tester.py
analiz_et.pys
canli_test_sonuclari/*